[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
ultralytics = "*"
pika = "*"
python-dotenv = "*"
Flask = "*"
waitress = "*"
google-cloud-storage = "*"
numpy = "*"
pandas = "*"
google-cloud-pubsub = "*"

[dev-packages]

[requires]
python_version = "3.11"
